.hero {
  display: flex;
  justify-content: space-between;
}
.left-h {
  display: flex;
  flex: 3;
  flex-direction: column;
  position: relative;
  padding: 2rem;
  padding-top: 1.5rem;
  gap: 2rem;
}
.right-h {
  position: relative;
  flex: 1;
  background-color: var(--orange);
}
.left-h > :nth-child(3) {
  background-color: rgba(253, 120, 43, 0.69);
  left: 0;
  top: 2rem;
  height: 30rem;
  filter: blur(150px);
}
.the-best-ad {
  margin-top: 4rem;
  display: flex;
  background-color: var(--appColor);
  width: fit-content;
  padding: 20px 13px;
  text-transform: uppercase;
  color: white;
  display: flex;
  align-items: center;
  border-radius: 2rem;
  position: relative;
}
.the-best-ad > span {
  z-index: 2;
}
.the-best-ad > div {
  position: absolute;
  width: 5rem;
  height: 3rem;
  background-color: var(--orange);
  border-radius: 2rem;
  right: 3px;
  z-index: 1;
  transition: 2s linear;
}
.hero-text {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  color: white;
  font-weight: bold;
  font-size: 4.5rem;
  text-transform: uppercase;
}
.hero-text > div:nth-of-type(3) {
  font-size: 1rem;
  font-weight: 200;
  text-transform: none;
  letter-spacing: 1px;
}
.figures {
  display: flex;
  gap: 2rem;
}
.figures > div {
  display: flex;
  flex-direction: column;
}
.figures > div > span:first-child {
  color: white;
  font-size: 2rem;
}
.figures > div > span:last-child {
  color: var(--gray);
  font-size: 1rem;
  text-transform: uppercase;
}
.hero-buttons > button {
  width: 8rem;
  color: white;
}
.hero-buttons > button:first-child {
  background-color: var(--orange);
}
.hero-buttons > button:last-child {
  background-color: transparent;
  border: 2px solid var(--orange);
}
.right-h {
  position: relative;
}
.right-h > button {
  position: absolute;
  right: 3rem;
  top: 2rem;
}
.heart-rate {
  background-color: var(--darkGray);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: absolute;
  padding: 1rem;
  right: 1rem;
  top: 7rem;
  border-radius: 5px;
  transition: 1.5s;
}
.heart-rate > img {
  width: 2rem;
}
.heart-rate > :nth-of-type(1) {
  color: var(--gray);
}
.heart-rate > :nth-of-type(2) {
  color: white;
  font-size: 1.5rem;
}
.hero-img {
  width: 23rem;
  top: 10rem;
  right: 8rem;
  position: absolute;
  z-index: 2;
}
.hero-img-back {
  position: absolute;
  left: -3rem;
  top: 4rem;
  width: 15rem;
  z-index: -1;
  transition: 1.5s;
}
.calories {
  position: absolute;
  bottom: 5.5rem;
  left: -6rem;
  display: flex;
  padding: 1rem;
  gap: 2rem;
  border-radius: 5px;
  background-color: var(--caloryCard);
  transition: 1.5s;
}
.calories > img {
  width: 3rem;
}
.calories > div {
  display: flex;
  width: 4rem;
  flex-direction: column;
  justify-content: space-between;
}
.calories > div > span:first-child {
  color: var(--gray);
}
.calories > div > span:last-child {
  color: white;
  font-size: 1.5rem;
}
